@using TryAgain.Models.Constants
@using TryAgain.Utils.Extensions
@model TryAgain.Models.ViewModels.ApplicationViewModel

@{
    ViewBag.Title = "Tworzenie podanie";
    Layout = "_Layout";
}

<h2>Tworzenie nowego podania o kurs poprawkowy</h2>
@if (ViewBag.ShowWarningPopup == true)
{
    <div class="alert alert-danger" role="alert">
        Nieprawidłowie wartości w następujących polach:
        <div asp-validation-summary="All"></div>
    </div>
}

<form asp-controller="Application" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.OrganizerFullName" class="col-md-3 right">Student Organizujący Kurs:</label>
                <div class="col-md-5">
                    <input asp-for="@Model.OrganizerFullName" Value="@Model.OrganizerFullName" readonly/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.Course.CourseName" class="col-md-3 right">Kurs:</label>
                <div class="col-md-5">
                    <input asp-for="@Model.Course.CourseName" class="form-control" />
                </div>
                <label asp-for="@Model.Course.Ects" class="col-md-1 right">ECTS:</label>
                <div class="col-md-1">
                    <input asp-for="@Model.Course.Ects" class="form-control" disabled/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.Type" class="col-md-3 right">Rodzaj kursu:</label>
                <div class="col-md-5">
                    <select asp-for="@Model.Type"
                            asp-items="Html.GetEnumSelectList<CourseType>()"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.ProposedTeacherFullName" class="col-md-3 right">Proponowany prowadzący:</label>
                <div class="col-md-5">
                    <input asp-for="@Model.ProposedTeacherFullName" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.Classroom" class="col-md-3 right">Sala:</label>
                <div class="col-md-5">
                    <input asp-for="@Model.Classroom" class="form-control" />     
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.Date.Day" class="col-md-2 right">Dzień:</label>
                <div class="col-md-2">
                    <select asp-for="@Model.Date.Day"
                            asp-items="Html.GetEnumSelectList<TryAgain.Models.Constants.DayOfWeek>()"></select>
                </div>
                <label asp-for="@Model.Date.Week" class="col-md-2 right">Tydzien:</label>
                <div class="col-md-2">
                    <select asp-for="@Model.Date.Week"
                            asp-items="Html.GetEnumSelectList<WeekType>()"></select>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="@Model.Date.StartTime" class="col-md-2 right">Godzina rozpoczęcia:</label>
                <div class="col-md-2">
                    <input asp-for="@Model.Date.StartTime" class="form-control"/>
@*                                        <select asp-for="@Model.Data.GodzinaRozpoczecia" asp-items="@Model.Data.AvailableHours" ></select>*@
                </div>
                <label asp-for="@Model.Date.EndTime" class="col-md-2 right">Godzina zakończenia:</label>
                <div class="col-md-2">
                    <input asp-for="@Model.Date.EndTime" class="form-control" />
                    @*                    <select asp-for="@Model.Data.Dzien" asp-items="@Model.Data.Dzien" ></select>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">STWÓRZ PODANIE</button>
            <button type="submit" class="btn btn-default" disabled>WYŚLIJ</button>

        </div>
    </div>
</form>